ul {
    list-style-type: none;
    margin: 0;
    padding: 5px;
}

.list {
    display:flex;
    margin-left: 400px;
}

.column1 {
    padding-left: 10px;
}
.column2 {
    padding-left: 100px;
}
.column3 {
    padding-left: 150px;
}